<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461034768661-c1hukb9fnnpf7pr2dtqtidck25dl39ps.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461034768661-c1hukb9fnnpf7pr2dtqtidck25dl39ps</string>
	<key>API_KEY</key>
	<string>AIzaSyASSj_r-wsq1pdaQOu8wn-S0TWzXkflCAY</string>
	<key>GCM_SENDER_ID</key>
	<string>461034768661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geomind.geomind</string>
	<key>PROJECT_ID</key>
	<string>geomind-96ff4</string>
	<key>STORAGE_BUCKET</key>
	<string>geomind-96ff4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461034768661:ios:42926d06be3a3e7c53c11c</string>
</dict>
</plist>